[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Audio files
Name[bg]=Аудио файлове
ServiceTypes=ThumbCreator
MimeType=audio/*;
CacheThumbnail=true
X-KDE-Library=AudioThumbs
